.introduction {
  height: 617px;
  background: url(../../public/images/hero_iphone15pro__i70z9oz3hj2i_large.jpg)
    center center/cover;
  margin: 0 auto;
  margin-bottom: 10px;
}
.intro {
 width: 100%;
 margin-top: 35px;
 display: flex;
 flex-direction: column; 
 justify-content: center;
 position: absolute;
}
.introduction h2 {
  font-size: 56px;
  text-align: center;
  color: #f5f5f7;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.introduction h3 {
  text-align: center;
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 6px;
  color: #f5f5f7;
}
.intro-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  width: 48%; 
  margin: 0 auto;
}
.intro-links a {
  color: #06c; 
  letter-spacing: inherit;
  text-decoration: none;
  font-size: 21px; 
  margin: 15px;
  line-height: 1.381;
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
